<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TV Show {{show.id}}</h1>
    <p>Title: {{show.show_title}}</p>
    <p>Network: {{show.show_network}}</p>
    <p>Release Date: {{show.show_release_date}}</p>
    <p>Description: {{show.show_description}}</p>
    <br><br>
    <p>Last Updated: {{show.updated_at}}</p>
    <br><br>
    <a href="/">Back to shows dashboard</a>
    <br>
    <a href="/shows/{{show.id}}/edit">Edit</a>
    <br>
    <a href="/shows/{{show.id}}/delete">Delete</a>
</body>
</html>