<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <td>ID</td>
            <td>Title</td>
            <td>Network</td>
            <td>Release Date</td>
            <td>Actions</td>
        </thead>
        <tbody>

            {%for shows in all_shows%}

            <tr>
            <td>{{shows.id}}</td>
            <td>{{shows.show_title}}</td>
            <td>{{shows.show_network}}</td>
            <td>{{shows.show_release_date}}</td>
            <td><a href="/shows/{{shows.id}}">Show</a>
            <a href="/shows/{{shows.id}}/edit">Edit</a>
            <a href="/shows/{{shows.id}}/delete">Delete</a>
        </td>

            {%endfor%}

            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <a href="/shows/new">Add a new Show</a>
</body>
</html>